/*-- scss:uses --*/
@use 'sass:color';

/*-- scss:functions --*/
@function colorToRGB ($color) {
  @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color)+ ")";
}

/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

$titillium-web: "Titillium Web", sans-serif;
$fira-code: "Fira Code", monospace;

.sourceCode {
  font-family: $fira-code;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $titillium-web;
}

$indigo-dye: #004366ff;
$dim-gray: #6C675Fff;
$blue-green: #4A95B9ff;
$yinmn-blue: #40587Cff;
$orange-web: #F6A300ff;
$dark-slate-gray: #2D463Dff;
$delft-blue: #23314Cff;

$font-size-base:              1rem;
$h1-font-size:                $font-size-base * 1.5;
$h2-font-size:                $font-size-base * 1.25;
$h3-font-size:                $font-size-base;
$h4-font-size:                $font-size-base;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base;

/*-- scss:rules --*/

#latest-til > p > a:hover,
#quarto-document-content > p > a:hover,
#quarto-document-content > ol > li > a:hover,
.listing-link:hover {
  color: color.scale($blue-green, $lightness: -25%);
}

#latest-til > p > a,
#quarto-document-content > p > a,
#quarto-document-content > ol > li > a,
.listing-link {
	position: relative;
	text-decoration: none;
	padding-bottom: 2px;
  color: $blue-green;
}

#latest-til > p > a::before,
#quarto-document-content > p > a::before,
#quarto-document-content > ol > li > a::before,
.listing-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 0px;
  background-color: $blue-green;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

#latest-til > p > a:hover::before,
#quarto-document-content > p > a:hover::before,
#quarto-document-content > ol > li > a:hover::before,
.listing-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.listing-date {
  font-family: "Fira Sans", monospace;
  color: $dim-gray;
  font-size: $font-size-base * 0.85;
}

nav .nav-link {
  color: $indigo-dye;
}

.category.active,
.navbar-nav .nav-link.active {
    color: color.scale($orange-web, $lightness: -8%);
    font-weight: 700;
}

.category:hover,
.navbar-title:hover,
.navbar-nav .nav-item:hover .nav-link {
    color: $orange-web;
}

pre, code, .sourceCode {
  font-size: 0.95em;
}
