<ul class="list list-group list-group-flush">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %> class="list-group-item">
    <a class="text-reset text-decoration-none" href="<%- item.path %>">
      <%- item.date %> &#8212; <%= item.title %>
    </a>
  </li>
<% } %>
</ul>
