```{=html}
<ul class="list list-group list-group-flush">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %> class="list-group-item d-md-flex justify-content-between">
    <div>
      <a class="listing-link" href="<%- item.path %>">
        <iconify-icon icon="fluent-emoji:link"></iconify-icon>
        <%= item.title %><span> </span>
      </a>
    </div>
    <div>
      <p class="listing-date text-nowrap text-end"><%- item.date %></p>
    </div>
  </li>
<% } %>
</ul>
```
