[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pelican = "*"
markdown = "*"
invoke = "*"
livereload = "*"
ghp-import = "*"
pelican-jupyter-reader = "==0.1.7"

[packages]

[requires]
python_version = "3.7"
