.celltag_hide-code .input {
  display: none;
}

.celltag_hide-all {
  display: none;
}

.celltag_codepen .output {
  width: 100%;
}

.celltag_aside {
  border-left: thick solid #219;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  background: rgb(34, 17, 153, 0.05);
}

.output_stream pre {
  padding: 0.625em 1.25em 0.625em 1.25em;
  overflow: scroll;
}

.output {
  max-width: 100%;
}

.output_text pre {
  padding: 0.625em 1.25em 0.625em 1.25em;
  color: #777777;
  background-color: #eeeeee;
  overflow: scroll;
}

.output_wrapper {
  display: flex;
  justify-content: center;
}

.output_png {
  text-align: center;
}

.input_prompt, .output_prompt {
  display: none;
}

/* .anchor-link { */
/*   display: none; */
/* } */

.celltag_tldr {
  border-color: #ccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
